body{
    background-color: #eee;
}

.like-btn:hover{
    color: rgb(233, 101, 101);
}

.icon-size{
    font-size: 40px;
    margin: 13px;

}

.icon-size:hover{
    color: rgb(233, 101, 101);
}

.main-color{
    color: rgb(228, 135, 92)
}

.bg-summary{
    background-color: #ebe5e5;
}

input{
    text-align: center;
    font-weight: bolder;
}
